<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>825082183334-pfh9tqel2d1idcv748dc4dqnh9eje9ec.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825082183334-pfh9tqel2d1idcv748dc4dqnh9eje9ec</string>
	<key>API_KEY</key>
	<string>AIzaSyCPJpI4C8MQWOvldeJXmWhyb15cH9CJopw</string>
	<key>GCM_SENDER_ID</key>
	<string>825082183334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.noithat.cac</string>
	<key>PROJECT_ID</key>
	<string>noi-that-cac</string>
	<key>STORAGE_BUCKET</key>
	<string>noi-that-cac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825082183334:ios:a2ebd68bb1152a7aa27e67</string>
</dict>
</plist>