<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115347221059-sgulpiopkrcf73upo44isflkgqmu8lpd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115347221059-sgulpiopkrcf73upo44isflkgqmu8lpd</string>
	<key>API_KEY</key>
	<string>AIzaSyCxkwJj7V4S0tKb8rJF4XJ1NSS_l8SYzWU</string>
	<key>GCM_SENDER_ID</key>
	<string>115347221059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viettel.citizens</string>
	<key>PROJECT_ID</key>
	<string>ioc-alarm</string>
	<key>STORAGE_BUCKET</key>
	<string>ioc-alarm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115347221059:ios:cc5032a208ae1066bfc2f6</string>
	<key>DATABASE_URL</key>
	<string>https://ioc-alarm-default-rtdb.firebaseio.com</string>
</dict>
</plist>