<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400504484458-ec2ic380eoa3tjng69f423d1cb1qfvrq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400504484458-ec2ic380eoa3tjng69f423d1cb1qfvrq</string>
	<key>API_KEY</key>
	<string>AIzaSyCtw6taH5NIFH3fbig4ze5Q4um6p8vBFxg</string>
	<key>GCM_SENDER_ID</key>
	<string>400504484458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.viettel.maps</string>
	<key>PROJECT_ID</key>
	<string>cac-demo-bcccd</string>
	<key>STORAGE_BUCKET</key>
	<string>cac-demo-bcccd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400504484458:ios:c3cb13c54e57c952e99013</string>
</dict>
</plist>