<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Nội thất C.A.C</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Nội thất C.A.C</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAllowsArbitraryLoads</key>
	<string>io.flutter.embedded_views_preview</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Phát nhạc khi đi bộ</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Để chọn ngày tháng từ lịch</string>
	<key>NSCameraUsageDescription</key>
	<string>Để quét mã QR code</string>
	<key>NSContactsUsageDescription</key>
	<string>Xem danh sách danh bạ để thực hiện cuộc gọi</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Hiển thị vị trí người dùng</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Lấy vị trí người dùng cho thiết bị cũ</string>
	<key>NSLocationUsageDescription</key>
	<string>Lấy vị trí người dùng cho thiết bị cũ</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Hiển thị vị trí người dùng</string>
	<key>NSMotionUsageDescription</key>
	<string>Để theo dõi hoạt động của phần cứng</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Truy cập thư viện ảnh để lưu hình ảnh</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Truy cập thư viện ảnh để chọn ảnh khi gửi tin nhắn</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Ghi âm giọng nói để gửi tin nhắn âm thanh</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>io.flutter.embedded_views_preview</key>
	<true/>
	<key>kTCCServiceMediaLibrary</key>
	<string>Phát nhạc khi đi bộ</string>
</dict>
</plist>
